.inputContainer {
    position: relative;
    width: 100%;
}

.input {
    border: 1px solid #B1AFAF;
    border-radius: 120px;
    padding: 16px;
    font-size: 16px;
    color: black;
    width: 100%;
    font-weight: 300;
}

.input.withIcon {
    padding-left: 46px;
}

.input:focus {
    outline: none;
    border: 1px solid var(--color-primary);
}

.icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);

    width: 25px;
    height: 25px;
    color: #8C8C8C;
}

