.home {
    width: 100%;
}

.recomendations {
    display: grid;
    gap: 20px;

    justify-items: center;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.contentCategories {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-block: 20px;
}

.contentCategory {
    cursor: pointer;
    transition: color 0.3s ease;

    &.selected {
        color: var(--color-primary);
    }

    &:hover {
        color: var(--color-primary);
    }
}
